<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuang.personal">

    <application>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ShareActivity"
            android:label="share"></activity>
    </application>

</manifest>